<footer class="p-3 mb-2 bg-dark text-white">
    <div class="footer">
        <p class="p">
            @Copyright:
            <br>
              Développé par: Jacob Arcand & Maxim Brazeau | Design par: Jacob Arcand & Maxim Brazeau
        </p>
        {{!-- Mettre facebook, tiktok, snapchat, instagram pitogramme --}}
        {{!-- <img src="/img/white-logo.png" alt="Image d'un pitogramme de internet"> --}}
    </div>
</footer>