<footer class="p-3 mb-2 bg-dark text-white">
    <div class="footer">
        <p class="p">
            @Copyright:
        </p>
        <p class="p">
            Jacob Arcand & Maxim Brazeau
        </p>
        <p class="p">
            Partie 2
        </p>
        <p class="p">
            10 novembre 2022
        </p>
    </div>
</footer>