<form id="form-auth" novalidate>
    <div class="center">
        <div>
            <label>
                <p>Nom:</p>
                <input type="text" id="input-nom">
                <span class="validity"></span>
                <div id="error-nom" class="error"></div>
            </label>
        </div>
        <div>
            <label>
                <p>Prenom:</p>
                <input type="text" id="input-prenom">
                <span class="validity"></span>
                <div id="error-nom" class="error"></div>
            </label>
        </div>
    </div>
</form>