<h2>Accueil</h2> <br>

<img src="/img/logo.jpg" alt="Image d'un petograme de internet" align="right" class="rotateimg45">

{{!-- Mettre un message de allo avec le nom de l'utilisateur --}}


<h3>Info</h3>
<p>
    Bienvenue sur {{titre}} ou vous pouvez vous inscrire dans nous divers cours qui son offert.
    Vous pouvez aussi aller dans la votre comte pour voir les cours que vous vous être inscrit. <br>
    Si vous voulez revenir sur  la page d'accueil clicker sur le bouton en haut a droit a cote du boutton cours :) 
</p>
<img src="/img/logo.jpg" alt="Image d'un pitogramme de internet" align="right" class="rotateimg45">

<h3>A propo</h3>
<p>
    On a créé se site comme projet dans la carde de la cour de programmation web serveur. Nous avons travaillé sur ce
    site toute au long des 14 semaines de cours durent les heure de classe, nous temps libre, les soirées et même
    jusqu’au petite heure du matin pour que le site n’est aucun bug et que toute fonction comme qui est supposer. Malgré
    les maux de tête et les nuits blanche on est arriver a fini le projet a temps et remis avec 0 bug. Maintenant que on
    a fini avec le cours ce site peut avoir des modifications qui vienne puisque nous avons toute fait ce que notre prof
    nous avait demander de mettre sur le site web.
</p>