<h2>Accueil</h2> <br>

<img src="/img/logo.jpg" alt="Image d'un petograme de internet" align="right" class="rotateimg45">

<h3>Sous-titre:</h3>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore possimus nemo recusandae unde reprehenderit
    nesciunt adipisci in aliquam quis laborum, magnam deleniti dignissimos eveniet id facere quasi deserunt pariatur
    fuga!
</p>
<img src="/img/logo.jpg" alt="Image d'un pitogramme de internet" align="right" class="rotateimg45">
<h3>Sous-titre:</h3>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem necessitatibus iste beatae sunt, iure impedit
    at harum enim non! Repudiandae, aperiam quis voluptate consequatur exercitationem accusamus eos ullam eligendi sint.
</p>