<h2>{{titre}}</h2>
<p>
    Admin <br>
    test@test.com <br>
    test <br>
</p>

<p>
    regulier <br>
    test1@test.com <br>
    123
</p>

<form id="form-auth" novalidate>
    <div class="form-group center">
        {{#if inscription}}
        <div>
            <label>
                <p>Nom:</p>
                <input type="text" id="input-nom">
            </label>
        </div>
        <div>
            <label>
                <p>Prenom:</p>
                <input type="text" id="input-prenom">
            </label>
        </div>
        {{/if}}
        <div>
            <label>
                <p>Courriel:</p>
                <input type="email" id="input-email">
            </label>
        </div>
        <div>
            <label>
                <p>Mot de passe:</p>
                <input type="password" id="input-mot-de-passe">
            </label>
        </div>
        <div>
            <p class="forgetPassword">
                Forget password
            </p>
        </div>
        <input type="submit" value="{{titre}}">
    </div>
</form>