<h2>{{titre}}</h2>

<form id="form-auth" novalidate>
    <div class="form-group center">

        {{!-- label pour le nom --}}
        <div>
            <label for="nom">
                <p>Nom:</p>
                <input type="text" id="input-nom" required>
                <span class="validity"></span>
                <div id="error-nom" class="error"></div>
            </label>
        </div>

        {{!-- Label pour le prenom --}}
        <div>
            <label for="prenom">
                <p>Prenom:</p>
                <input type="text" id="input-prenom" required>
                <span class="validity"></span>
                <div id="error-prenom" class="error"></div>
            </label>
        </div>

        {{!-- Label pour le courriel --}}
        <div>
            <label for="courriel">
                <p>Courriel:</p>
                <input type="email" id="input-email" required>
                <span class="validity"></span>
                <div id="error-courriel" class="error"></div>
            </label>
        </div>

        {{!-- Label pour le mot de passe --}}
        <div>
            <label for="password">
                <p>Mot de passe:</p>
                <input type="password" id="input-mot-de-passe" required pattern="(?=.*[A-Z])(?=.*\d.*\d)[^\s]{9,30}">
                <span class="validity"></span>
                <div id="error-password" class="error"></div>
            </label>
        </div>

        {{!-- Fake boutton de Forget Password --}}
        <div>
            <p class="forgetPassword">
                Forget password
            </p>
        </div>

        {{!-- Sumbit button --}}
        <input type="submit" value="{{titre}}">
    </div>
</form>