html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    margin: 0;
    padding: 2rem;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

main {
    max-width: 100rem;
    padding: 1rem;
    margin: 0 auto;
}


.p {
    text-align: center;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.form-p {
    padding-right: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
    position: relative;
    align-items: right;
}

p span {
    display: block;
}

header nav input {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.forgetPassword{
    text-decoration: underline;
    border: none;
    font-size: 15px;
    color: blue;
    background-color: white;
    margin-bottom: 1rem;
    cursor: pointer;
}
